.slick-dots{
  top:71.5vh;
  position: absolute;
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
}
.slick-dots li button:before {
  color:#fff !important;
}
.ads-over{
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
}
.colour img{
  margin: 12px;
}
.weather-main{
  width: 25vw;
  position: fixed;
  margin-top: 17px;
  margin-left: 17px;
}
.weather-side{
  position: absolute;
  left: 23.250vw;
  width: 22.583vw;
  height: 38.125vh;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(4px);
  border-radius: 0px 10px 10px 0px;
  z-index: 3;
}
.weather-bg{
  /* display: none; */
  visibility: hidden;
  position: absolute;
  width: 45.833vw;
  height: 38.125vh;
  z-index: 1;
  border-radius: 10px;
}
.clou{
  border-radius: 5px;
  background: #fff;
  opacity: .5;
  width: 100%;
  height: 100%;
}
#particles-js{
  background-color: #11ffee00;
}
svg{
  position: relative;
  width: 23.333vw;
  max-height: 58vh;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons{
  margin: 10vh auto;
  display: grid;
  grid-template-columns: .2fr .2fr;
  grid-template-rows: .5fr .1fr;
  align-items: center;
  column-gap: 4.167vw;
  row-gap: 6.25vh;
  justify-items: center;
}
.button-r{
  min-width: 50px;
  min-height: 50px;
  width: 4.167vw;
  height: 4.167vw;
  max-width: 90px;
  max-height: 90px;
  background: #EEEEEE;
  box-shadow: inset 2px 3px 4px rgba(255, 255, 255, 0.25), inset -2px -3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-family: 'icomoon' !important;
  line-height: 1;
  font-size: calc(8px + .8vw);
  position: relative;
}
.button-s{
  width: 5.417vw;
  height: 2.500vw;
  background: #EEEEEE;
  box-shadow: inset 2px 3px 4px rgba(255, 255, 255, 0.25), inset -2px -3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: 'icomoon' !important;
  line-height: 1;
  position: relative;
  font-size: calc(8px + .8vw);
}
.button:hover{
  color: #55AA2D;
  box-shadow: inset 0px 0px 1px 2px rgba(255, 255, 255, 0.9), inset 2px 3px 4px rgba(0, 0, 0, 0.25), inset 1px -3px 6px rgba(0, 0, 0, 0.1);
}
.levers{
  width: 22.917vw;
  height: 35.25vh;
  background: rgba(255, 255, 255, 0.09);
}
.lever{
  /* margin: 50px; */
  width: 20px;
  height: 134px;
}
.met:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\e903";
}
.sn:before {
  position: absolute;
  top: 52%;
  left: 49%;
  transform: translate(-50%, -50%);
  content: "\e900";
}
.sit:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\e901";
}
.lig:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\e902";
}
.chevron{
  opacity: .6;
  transition: .8s ease;
  position: relative;
  cursor: pointer;
  color: #fff;
  left: 43.4vw;
  top: 17px;
  z-index: 2;
  font-family: 'icomoon' !important;
  font-size: 21px;
  line-height: 1;
}
.chevron:hover{
  opacity: 1;
}
.chevron:before {
  content: "\e905";
}
.close{
  transition: .8s ease;
  cursor: pointer;
  font-family: 'icomoon' !important;
  line-height: 1;
  opacity: .6;
}
.close:hover{
  opacity: 1;
}
.close:before {
  content: "\e904";
}
.close-a{
  position: absolute;
  z-index: 2;
  font-size: 30px;
  margin-left: 9.5vw;
  margin-top: 0.625vh;
}
.close-w{
  font-size: 34px;
  margin-left: 19vw;
  margin-top: 1.375vh;
}
.colour{
  font-family: 'icomoon' !important;
  font-size: 24px;
  color: #fff;
  transition: .4s ease-out;
  /* opacity: .8; */
}
.colour:hover{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.bucket{
  opacity: .6;
  transition: .8s ease;
}
.bucket:hover{
  opacity: 1;
}
.l-hand{
  width: 87.43px;
  height: 16.11px;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.l-bar{
  background: #C4C4C4;
  width: 10px;
  height: 10px;
}
.l-hole{
  width: 20px;
  height: 134px;
  background: #494949;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lever-wrap{
  display: inline-grid;
  row-gap: 10px;
}
.ship-svg{
  fill:#fff;
}
.ship-svg-ice{
  fill: url(#ice);
}
.ship-svg-fire{
  fill: url(#fire);
}

/* фикс карусели */
.ads img {
  margin: 0 27px;
}
.ads-c {
  margin: 0 -27px;
}
