body{
  user-select: none;
  background-color: #000;
}
.glow{
  background: radial-gradient(77.25% 77.25% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  transition: .2s ease-out;
  position: fixed;
}
.glow:hover{
  background: radial-gradient(77.25% 77.25% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFBDBD 100%);
  opacity: 0.1;
}
.heat{
  background: radial-gradient(77.25% 77.25% at 50% 50%, rgba(207, 131, 41, 0) 0%, #CF8329 100%);
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  transition: .8s ease-out;
  position: fixed;
}
.heat:hover{
  background: radial-gradient(77.25% 77.25% at 50% 50%, rgba(207, 141, 41, 0) 0%, #EC683E 100%);
  opacity: .3;
}
.wrap{
  display: grid;
  position: absolute;
  grid-template-columns: .4fr .2fr .1fr;
  grid-template-rows: .1fr .2fr .2fr;
  column-gap: 44px;
  row-gap: 25px;
  width: 93.583vw;
  height: 85.625vh;
  /* margin: 3vh 3vw 3vh 3vw; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div{
  /* border: 2px solid green; */
}
.header{
  display: flex;
  justify-content: space-between;
  grid-column: auto / span 3;
}
.name{
  width: 77.333vw;
  height: 5.875vh;
}
.colour{
  cursor: pointer;
  width: 47px;
  height: 47px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(4px);
  border-radius: 100px;
}
.weather{
  display: flex;
  width: 45.833vw;
  height: 38.125vh;
  grid-column: 1 / span 2;;
  grid-row: 2;
  background: rgba(255, 255, 255, 0.09);
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
.ship{
  position: relative;
  width: 28.583vw;
  height: 76vh;
  grid-column: 2;
  grid-row: 2 / span 2;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  overflow: hidden;
}
.ads{
  border-radius: 10px;
  width: 11.833vw;
  height: 76vh;
  grid-column: 3;
  grid-row: 2 / span 2;
  overflow: hidden;
}
.control{
  width: 45.833vw;
  height: 35.25vh;
  grid-column: 1 / span 1;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.ads-c img{
  width: 12vw;
  height: 76vh;
  object-fit: cover;
}
.blocker{
  display: none;
  transition: all 0.5s ease;
}
.overl{
  position: fixed;
  top: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(70px);
  width: 100vw;
  height: 100vh;
}
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
