body{
  user-select: none;
  background-color: #000;
}
.wrap{
  display: grid;
  position: absolute;
  grid-template-columns: .4fr .2fr .1fr;
  grid-template-rows: .1fr .2fr .2fr;
  column-gap: 44px;
  row-gap: 25px;
  width: 1135px;
  height: 685px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div{
  /* border: 2px solid green; */
}
.header{
  display: flex;
  justify-content: space-between;
  grid-column: auto / span 3;
}
.name{
  width: 928px;
  height: 47px;
}
.colour{
  cursor: pointer;
  width: 47px;
  height: 47px;
  width: 47px;
  height: 47px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(4px);
  border-radius: 100px;
}
.weather{
  display: flex;
  width: 550px;
  height: 305px;
  grid-column: 1 / span 2;;
  grid-row: 2;
  background: rgba(255, 255, 255, 0.09);
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
.ship{
  width: 343px;
  height: 600px;
  grid-column: 2;
  grid-row: 2 / span 2;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
}
.ads{
  border-radius: 10px;
  width: 142px;
  height: 600px;
  grid-column: 3;
  grid-row: 2 / span 2;
  overflow: hidden;
}
.control{
  width: 550px;
  height: 266px;
  grid-column: 1 / span 1;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.blocker{
  display: none;
}
.unblocker{
  display: block;
}
