.wrap{
  display: grid;
  grid-template-columns: .4fr .2fr .1fr;
  grid-template-rows: .1fr .2fr .2fr;
  column-gap: 44px;
  row-gap: 30px;
  width: 90vw;
}
/* все ломается на 1827ширины */
div{
  border: 2px solid green;
}
.header{
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}
.name{
  width: 928px;
  height: 42px;
}
.colour{
  width: 47px;
  height: 47px;
}
.weather{
  width: 550px;
  height: 305px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}
.ship{
  width: 343px;
  height: 600px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.ads{
  width: 142px;
  height: 600px;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.control{
  width: 550px;
  height: 266px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}
