@import "reset.css";
@import "responsive.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import "layout.css";
@import "dets.css";
@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
