@media all and (min-width: 1400px){
  .name h1, #username, .welcome-text {
    font-size: 2vw;
  }
  #temperature, #unit {
    font-size: 3.333vw;
  }
  #status {
    font-size: 1.5vw;
  }
  .weather-side p,  .weather-side span  {
    font-size: 1.3vw;
  }
  .button-r{
    font-size: calc(7px + 0.8vw);
  }
  .button-s{
    font-size: calc(3px + 0.8vw);
  }
  .l-hole {
    height: 9.167vw;
  }
  .l-hand {
    width: 6.286vw;
  }
  .ui-slider-vertical .ui-slider-handle {
    left: -2.3vw;
  }
  .ship-t h1 {
    font-size: calc(15px + 5vh);
  }
  .enter{
    max-width: none;
    max-height: none;
  }
  input{
    font-size: 1.3vw;
  }
  .form {
    width: 20vw;
  }
}
/* tablet */
@media all and (max-width: 1010px){
  .arrow{
    height: 2vh;
  }
  .wrap{
    top:5%;
    left:50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: .1fr .5fr 1fr .5fr .7fr;
    row-gap: 18px;
    width: 90%;
    height: auto;
  }
  .wrap > *{
    grid-column: 1;
  }
  .header{
    grid-row: 1;
  }
  .name h1,#username,.welcome-text{
    font-size: 4vw;
  }
  .weather{
    width: 100%;
    height: 26.125vh;
    grid-row: 2;
  }
  .weather-bg{
    width: 100%;
    height: 26.125vh;
  }
  .weather-side{
    height: 26.125vh;
    width: 34.917vw;
    left: 53.2vw;
  }
  .weather-side p,.weather-side span{
    font-size: 2.7vw;
    margin-left: 4.5vw;
  }
  #status{
    font-size: 3vw;
  }
  #temperature, #unit{
    font-size: 7.333vw;
  }
  .ship{
    width: 100%;
    height: 48.25vh;
    grid-row: 3;
  }
  #ShipBG{
    width: 100%;
    height: 48.25vh;
  }
  svg{
    width: 22vh;
    top: 40%;
  }
  .control{
    border-radius: 0px;
    width: 100%;
    height: 31.25vh;
    grid-row: 4;
  }
  .buttons{
    column-gap: 10.167vw;
  }
  .levers{
    width: 34.917vw;
  }
  .lever-wrap:first-of-type {
    margin-left: 10vw;
  }
  .ads{
    width: 100%;
    height: 30vh;
    grid-row: 5;
  }
  .slick-dots {
    top: 27.5vh;
  }
  .ads img{
    width: 100%;
    height: 30vh;
  }
  .plants-t{
    top: 15%;
    left: 20.1%;
  }
  .plants-t h1{
    font-size: 19vw;
  }
  .plants-t h2 {
    font-size: 3.4vw;
  }
  .plants-t h3 {
    font-size: 1.9vw;
  }
  .cola-t {
    margin-left: -60vw;
    margin-top: -15vh;
  }
  .cola-t h1{
    font-size: 6vw;
  }
  .cola-t h2{
    font-size: 2vw;
    text-align: left;
  }
  .ship-t h1 {
    font-size: calc(24px + 8vw);
    width: 64vw;
    margin-top: 5vh;
  }
  .ship-t h2 {
    font-size: 3vw;
  }
  .ship-t {
    margin-top: -4vh;
  }
  .weather-side p:first-of-type {
    margin-top: 4vh;
  }
  .ui-slider-vertical .ui-slider-handle {
    left: -2.4vw;
  }
  .ship-svg-2{
    width: 22vh;
    top: 52%;
  }
  .ads-over h1{
    font-size: 15vw;
  }
  .ads-over h2{
    font-size: 2.5vw;
  }
  .ads-over p{
    font-size: 2.167vw;
  }
  input {
    width: 20vw;
    font-size: 3vw;
}
@media all and (max-width: 550px){
  input {
    width: 50vw;
    font-size: 5vw;
  }
  .welcome-text {
    margin-top: 55vw;
  }
  .form {
    position: relative;
    margin-top: auto;
    margin-left: 10vh;
    width: 28vw;
    height: 15vh;
  }
  .name{
    flex-direction: column;
  }
  .ui-slider-vertical .ui-slider-handle {
    left: -1.7vw;
}
  .levers {
    width: 35.917vw;
    height: 32.25vh;
  }
  .name h1, #username,.welcome-text{
    font-size: 6vw;
  }
  #temperature, #unit {
    font-size: 12.333vw;
}
#status, .weather-side p, .weather-side span {
    font-size: 4vw;
}
.weather-side {
    width: 43.917vw;
    left: 46.1vw;
}
  .ship h1 {
    font-size: 5vw;
  }
  .ship-t{
    margin-top: 2vh;
  }
}
@media all and (max-width: 340px){
  .weather, .weather-bg, .weather-side {
    height: 31.125vh;
  }
  .weather-side{
    left: 49vw;
  }
  .ship, #ShipBG{
    height: 57.25vh;
  }
  .control, .levers {
    height: 37.25vh;
  }
  .lever-wrap:first-of-type {
    margin-left: 8vw;
  }
  .buttons {
    margin: 11vh auto;
  }
  .close-w {
    font-size: 28px;
}
  .chevron{
    font-size: 19px;
  }
  .close-a{
    font-size: 28px;
  }
  .ads-over h1{
    font-size: 19vw;
  }
  .ads-over h2{
    font-size: 5vw;
  }
  .ads-over p{
    font-size: 4vw;
  }
}
