h2{
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.ads-over h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 8vw;
  text-align: center;
  color: #000;
}
.ads-over h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 1.500vw;
  text-align: center;
  /* margin-top: -1.250vw; */
}
.ads-over p{
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.167vw;
  text-align: center;
  color: #000;
}
.name h1, #username, .welcome-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3vw;
  color: #fff;
}
.ship h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vw;
  color: #fff;
  margin-top: 2.6vh;
  margin-left: 2vh;
  width: 8vw;
  height: 100%;
}
#temperature, #unit{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 5.333vw;
  color: #fff;
}
#status{
  margin-top: 1.25vh;
  text-transform: lowercase;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2vw;
  color: #fff;
}
.weather-side p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.7vw;
  color: #FFFFFF;
  margin-top: 2.5vh;
}
.weather-side p:first-of-type{
  margin-top: 8.25vh;;
}
.weather-side span{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.7vw;
  color: #FFFFFF;
}
.weather-side span, .weather-side p{
  margin-left: 2.5vw;
}
.button p{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.control p{
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #FFFFFF;
  position: absolute;
}
.form-line p{
  width: 10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  color: #FFFFFF;
  margin-left: 1vw;
  padding-top: 1.5vh;
}
.note p{
  font-family: Bad Script;
  font-size: 10vh;
  color: #012685;
  margin-left: 2vh;
}
.note p:first-of-type{
  margin-top: 6vh;
  font-size: 5vh;
  transform: rotate(-10deg);
}
